* {
  box-sizing: border-box;
}



.Banner{
    position :relative;
    width : 100%;  
          }
.logo {
  position: relative;
  top: -35px;
  left: 9%;
  width: 70px;
}
.info{
    position: relative;
    margin-left: 9%;
    top: -60px;
    width: 15%;
    max-width: 145px;
    
}
.searchTool{
    
    position:relative;
    max-width : 160px;
    width: 15%;
    left: 9%;
    top:-40px;
    padding-top: 7px;
    border-top: 1px dotted grey;
    overflow: auto;
    
    
}
.article {
    position: relative;
    left: 27%;
    top:-250px;
    width: 73%;
    padding: 20px;
    overflow: auto;

}
.articleTitle {
    

}
.auther{
    
}
.articleImage {
    width: 70%;

}

.socialmedia {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 50px;
    border: 1px solid #aaa;
    background-color:white; 
    
    
}
.titleclose{
    font-size: 14px;
    border-bottom: 1px solid grey;
}
.close{
    float:right;
    width: 5px;
    background-color: white;
    font-size:7px;
    overflow: auto;

}
.icon{
    width: 20%;
}


.FBlink {
    float: right;
    color: white;
    background-color: blue;
    padding: 6px 6px 6px 6px;
    font-size: 10px;
}